In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

In [2]:
df=pd.read_csv(os.path.join("..","python-api-challenge","WeatherPy","Output","clean_output_data_file.csv"))
df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time,Maximum Temperature
0,0,dikson,73.5069,80.5464,-21.69,86,100,8.39,-21.69,RU,25200,1611771322,-21.69
1,1,andros town,24.7000,-77.7667,78.80,78,40,13.80,78.80,BS,-18000,1611771470,78.80
2,2,bonavista,48.6499,-53.1147,27.39,93,81,3.44,28.99,CA,-12600,1611771179,28.99
3,3,rudnogorsk,57.2639,103.7519,-24.45,85,100,3.89,-24.45,RU,28800,1611771470,-24.45
4,4,sao jose da coroa grande,-8.8978,-35.1478,81.37,74,91,11.05,81.37,BR,-10800,1611771470,81.37

In [3]:
df1=df.drop(["Unnamed: 0"], axis=1)
df1.head()

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time,Maximum Temperature
0,dikson,73.5069,80.5464,-21.69,86,100,8.39,-21.69,RU,25200,1611771322,-21.69
1,andros town,24.7000,-77.7667,78.80,78,40,13.80,78.80,BS,-18000,1611771470,78.80
2,bonavista,48.6499,-53.1147,27.39,93,81,3.44,28.99,CA,-12600,1611771179,28.99
3,rudnogorsk,57.2639,103.7519,-24.45,85,100,3.89,-24.45,RU,28800,1611771470,-24.45
4,sao jose da coroa grande,-8.8978,-35.1478,81.37,74,91,11.05,81.37,BR,-10800,1611771470,81.37

In [21]:
gmaps.configure(api_key="AIzaSyCTTr8mjmOQvQGqYjQS7VZvlslwU-PjyzY")
locations_list=df1[["Latitude","Longitude"]].astype(float)
humidity_list=df1["Humidity"].astype(float)

In [5]:
m = gmaps.figure(center=(39.754185, -105.230484), zoom_level=8, layout={'width': '800px','height': '600px',
'padding': '3px','border': '1px solid black'})
hm_layer=gmaps.heatmap_layer(locations_list,weights=humidity_list,dissipating=False,max_intensity=100,point_radius=1)
m.add_layer(hm_layer)
m

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='800px'))

In [6]:
hotel_df=df1[(df1["Maximum Temperature"]>=80)&(df1["Maximum Temperature"]<=90)&(df1["Wind Speed"]<10)&(df1["Cloudiness"]<=10)]
hotel_df

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time,Maximum Temperature
173,port hedland,-20.3167,118.5667,80.60,74,2,8.05,80.60,AU,28800,1611771382,80.60
213,kavaratti,10.5669,72.6420,80.80,66,8,7.61,80.80,IN,19800,1611771229,80.80
359,tecoanapa,16.5167,-98.7500,85.89,48,0,7.65,85.89,MX,-21600,1611771530,85.89
369,san rafael,-34.6177,-68.3301,85.86,16,0,6.02,85.86,AR,-10800,1611771395,85.86
434,boueni,-12.9025,45.0761,82.40,78,0,5.75,82.40,YT,10800,1611771543,82.40

In [7]:
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
hotel_name=[]
for index, row in hotel_df.iterrows():
    latitude=row["Latitude"]
    longitude=row["Longitude"]
    city=row["City"]
    print(f"Retrieving Results for Index {index}: {city}.")
    response=requests.get(f"{base_url}location={latitude},{longitude}&radius=5000&type=lodging&key=AIzaSyCTTr8mjmOQvQGqYjQS7VZvlslwU-PjyzY").json()
    results=response["results"]
    hotel_name.append(results[0]["name"])
    print(f"The closest place to stay is {results[0]['name']}.")
    print("----------------------------------------")

Retrieving Results for Index 173: port hedland.
The closest place to stay is The Esplanade Hotel.
----------------------------------------
Retrieving Results for Index 213: kavaratti.
The closest place to stay is Hotels in Lakshadweep Islands.
----------------------------------------
Retrieving Results for Index 359: tecoanapa.
The closest place to stay is Hotel Manglares.
----------------------------------------
Retrieving Results for Index 369: san rafael.
The closest place to stay is Hotel San Rafael.
----------------------------------------
Retrieving Results for Index 434: boueni.
The closest place to stay is The feet in water.
----------------------------------------

In [8]:
hotel_df["Hotel Name"]=hotel_name
hotel_df

<ipython-input-8-0fe3308946c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"]=hotel_name

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Maximum Speed,Country,Time Zone,Date and Time,Maximum Temperature,Hotel Name
173,port hedland,-20.3167,118.5667,80.60,74,2,8.05,80.60,AU,28800,1611771382,80.60,The Esplanade Hotel
213,kavaratti,10.5669,72.6420,80.80,66,8,7.61,80.80,IN,19800,1611771229,80.80,Hotels in Lakshadweep Islands
359,tecoanapa,16.5167,-98.7500,85.89,48,0,7.65,85.89,MX,-21600,1611771530,85.89,Hotel Manglares
369,san rafael,-34.6177,-68.3301,85.86,16,0,6.02,85.86,AR,-10800,1611771395,85.86,Hotel San Rafael
434,boueni,-12.9025,45.0761,82.40,78,0,5.75,82.40,YT,10800,1611771543,82.40,The feet in water

In [45]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_label_df.iterrows()]
marker_locations = hotel_label_df[["Latitude", "Longitude"]]

marker_layer = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
m.add_layer(marker_layer)
m

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='3px', width='800px'))